<h1>Resumen de compra</h1>

<article>
  <table>
    <tr>
      <th>title:</th>
      <th>price:</th>
      <th>stock:</th>
      <th>quantity:</th>
    </tr>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.product.title}} USD</td>
          <td>{{this.product.price}} USD</td>
          <td>{{this.product.stock}} USD</td>
          <td>{{this.quantity}}</td>
          <td><button class="deleteButton" data-id={{this.product._id}}>Eliminar
              producto</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button style="width: 300px;" id="btnPurchase">Finalizar compra</button>
</article>

<script src="/js/cart.js"></script>