<h1>Productos</h1>
<h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
<p><strong>Email:</strong> {{user.email}}</p>
<p><strong>Rol:</strong> {{user.role}}</p>
<p><strong>Edad:</strong> {{user.age}}</p>
<a href="/profile" role="button">Ver perfil</a>

<article>
  <table>
    <tr>
      <th>title:</th>
      <th>description:</th>
      <th>price:</th>
      <th>thumbnail:</th>
      <th>code:</th>
      <th>stock:</th>
      <th>category:</th>
      <th>status:</th>
    </tr>
    <tbody>
      {{#each payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}} USD</td>
          <td>{{this.thumbnail}}</td>
          <td>{{this.code}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
          <td><button>Agregar al carrito</button></td>

        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>Pagina actual: {{page}}</p>
  <a href="{{prevLink}}" role="button">Anterior</a>
  <a href="{{nextLink}}" role="button">Siguiente</a>
</article>