<div>
  <h1>Productos</h1>
  <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
  <p><strong>Email:</strong> {{user.email}}</p>
  <p><strong>Role:{{user.role}}</strong>{{#unless
      user.role
    }}Usuario{{/unless}}</p>
  <p><strong>Edad:</strong> {{user.age}}</p>
  <a href="/profile" role="button">Ver perfil</a>
</div>

<article style="padding: 20px;">

  <table>

    <tr>
      <th>title:</th>
      <th>description:</th>
      <th>price:</th>
      <th>thumbnail:</th>
      <th>code:</th>
      <th>stock:</th>
      <th>category:</th>
      <th>status:</th>
    </tr>

    <tbody>
      {{#each payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}} USD</td>
          <td>{{this.thumbnail}}</td>
          <td>{{this.code}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
          <td>{{this.status}}</td>
          <td><button>Agregar al carrito</button></td>
        </tr>
      {{/each}}
    </tbody>

  </table>
  <p>Pagina actual: {{page}}</p>

  <div style="width: 80%; display: flex; gap: 5px; margin: 0 auto;">
    <a
      style="width: auto; height: 65px;"
      href="{{prevLink}}"
      role="button"
    >Anterior</a>
    <a
      style="width: auto; height: 65px;"
      href="{{nextLink}}"
      role="button"
    >Siguiente</a>

    <select name="categories" id="categories">
      <option disabled selected>Categoria</option>
      <option value="all">Sin Filtro</option>
      <option value="category1">Category 1</option>
      <option value="category2">Category 2</option>
    </select>

    <select name="status" id="status">
      <option disabled selected>Estado</option>
      <option value="true">Verdadero</option>
      <option value="false">Falso</option>
    </select>

    <select name="price" id="price">
      <option disabled selected>Precio</option>
      <option value="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>

</article>

<script src="/js/products.js"></script>